<ul class="sidebar-nav">
	<li class="sidebar-button">
        <a href data-ng-click="sidebar.expandMenu()">
		  <i class="fa" aria-hidden="true" data-ng-class="{'fa-angle-double-left': sidebar.expanded, 'fa-angle-double-right': !sidebar.expanded}"></i>
        </a>
	</li>

    <li class="link-item" data-ng-class="{'selected': sidebar.isCurrent('contact') }">
        <a href="{{ path('contact') }}">
            <i class="fa fa-user" aria-hidden="true"></i> | Contact
        </a>
    </li>
    <li class="link-item" data-ng-class="{'selected': sidebar.isCurrent('skills') }">
        <a href="{{ path('skills') }}">
            <i class="fa fa-paint-brush" aria-hidden="true"></i> | Skills
        </a>
    </li>
    <li class="link-item" data-ng-class="{'selected': sidebar.isCurrent('education') }">
        <a href="{{ path('education') }}">
            <i class="fa fa-coffee" aria-hidden="true"></i> | Education
        </a>
    </li>
    <li class="link-item" data-ng-class="{'selected': sidebar.isCurrent('sports') }">
        <a href="{{ path('sports') }}">
            <i class="fa fa-trophy" aria-hidden="true"></i> | Sports
        </a>
    </li>
</ul>