<ul class="sidebar-nav">
	<li class="sidebar-button">
		<i class="fa fa-2x c-pointer" aria-hidden="true" data-ng-click="sidebar.expandMenu()"
			data-ng-class="{'fa-arrow-circle-left': sidebar.expanded, 'fa-arrow-circle-right': !sidebar.expanded}"></i>
	</li>

    <li class="link-item selected">
        <a href="#"><i class="fa fa-user" aria-hidden="true"></i> | Contact</a>
    </li>
    <li class="link-item">
        <a href="#"><i class="fa fa-paint-brush" aria-hidden="true"></i> | Skills</a>
    </li>
    <li class="link-item">
        <a href="#"><i class="fa fa-coffee" aria-hidden="true"></i> | Education</a>
    </li>
    <li class="link-item">
        <a href="#"><i class="fa fa-trophy" aria-hidden="true"></i> | Sports</a>
    </li>
</ul>