#contact .header {
	margin-top: 25px;
}

#contact .header img {
	-webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#contact .header img {
	width: 128px;
	height: 128px;
	margin: 16px;
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#contact .header img:hover {
	width: 160px;
	height: 160px;
	margin: 0px;
}

#contact .header h1 {
	font-size: 8em;
	font-weight: 600;
}

@-webkit-keyframes rollIn {
	0% { 
	   opacity: 0.5; 
	   -webkit-transform: translateX(-500%) rotate(-540deg); 
	}
	100% { 
	   opacity: 1; 
	   -webkit-transform: translateX(0px) rotate(0deg); 
	}
}

@keyframes rollIn {
	0% { 
	   opacity: 0.5; 
	   transform: translateX(-500%) rotate(-540deg); 
	}
	100% { 
	   opacity: 1; 
	   transform: translateX(0px) rotate(0deg); 
	}
}

.rollIn {
	-webkit-animation-name: rollIn;
	animation-name: rollIn;
}

/* Portrait and Landscape */
@media screen 
  and (max-width: 768px) {

  	#contact .header {
		margin-top: 10px;
	}

  	#contact .header img {
		width: 64px;
		height: 64px;
		margin: 8px;
	}

	#contact .header img:hover {
		width: 80px;
		height: 80px;
	}

	#contact .header h1 {
		font-size: 4em;
	}
}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}