.sidebar-nav .sidebar-button {
    background-color: #333;
}

.sidebar-nav .sidebar-button a {
    display: block;
    padding: 5px 0 6px 35px;
    color: #eee;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.expanded .sidebar-button a {
    padding-left: 235px;
}

.sidebar-nav li.link-item {
    text-indent: 7px;
    line-height: 60px;
    font-size: 2em;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar-nav li.link-item i {
    margin-right: 7px;
}

#wrapper.expanded .sidebar-nav li.link-item {
    text-indent: 20px;
}

#wrapper.expanded .sidebar-nav li.link-item {
    font-size: 1.5em;
}

.sidebar-nav li.link-item a {
    display: block;
    text-decoration: none;
    color: #333;
}

.sidebar-nav li.link-item a:hover {
    text-decoration: none;
    color: #111;
    background: rgba(150,150,150,0.2);
}

.sidebar-nav li.link-item.selected {
    color: #111;
    background: rgba(150,150,150,0.4);
}

.sidebar-nav li.link-item a:active,
.sidebar-nav li.link-item a:focus {
    text-decoration: none;
}

/*
 * Colors 
*/

.sidebar-nav li:nth-child(2) a {
    color: #F4F1BB;
}

.sidebar-nav li:nth-child(3) a {
    color: #9BC1BC;
}

.sidebar-nav li:nth-child(4) a {
    color: #9B6A6C;
}

.sidebar-nav li:nth-child(5) a{
    color: #FFBF69;
}